<div id="vital_layer" class="accordion">
	<%= render "databases/manage_db"%>
	<%= render "telemetries/import_good"%>
	<%= render "telemetries/extract_packets"%>
	<%= render "telemetries/gen_synth"%>
	<%= render "telemetries/manage_checks" %>
	<h3>Explore</h3><div>
	<%= render 'telemetries/explore' %></div>
</div>